<!DOCTYPE html>
<html>
  <head>
    <title>Cars App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/cars/create" method="post">
      Vehicle: <input type="text" name="vehicle" id=""><br/>
      Model: <input type="text" name="model" id=""><br/>
      Year: <input type="text" name="year" id=""><br/>
      <hr>
      <button type="submit">Create</button>
    </form>
  </body>
</html>